body{
    /* background-color: black; */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.myCanvas{
    border: 1px solid #000;
    margin: 5px;
    background-color:  black;
    /* margin: auto auto; */
    /* display: block; */
}